.home {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #eeffff;
  }
  
  .home .navbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 98px;
    padding: 10px 42px;
    background-color: #304d30;
  }
  
  .home .frame {
    display: inline-flex;
    align-items: center;
    gap: 231px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .alu-tsista {
    position: relative;
    width: fit-content;
    font-family: "Kenia-Regular", Helvetica;
    font-weight: 400;
    color: #eef0e5;
    font-size: 43px;
    text-align: center;
    letter-spacing: 4.08px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .ellipse {
    position: relative;
    width: 4px;
    height: 4px;
    background-color: #d9d9d9;
    border-radius: 2px;
  }
  
  .home .tombol-login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .home .login {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #304d30;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 150px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 59px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .header {
    position: relative;
    width: 1440px;
    height: 622px;
    background-color: transparent;
  }
  
  .home .overlap-group {
    position: relative;
    width: 1440px;
    height: 622px;
  }
  
  .home .rectangle {
    position: absolute;
    width: 1440px;
    height: 500px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .home .layanan {
    position: absolute;
    width: 980px;
    height: 298px;
    top: 324px;
    left: 230px;
  }
  
  .home .peminjaman {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 298px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 21px 11.5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .home .img {
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .lorem-ipsum-dolor {
    position: relative;
    width: 277px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .line {
    position: relative;
    width: 255.37px;
    height: 5.33px;
    object-fit: cover;
  }
  
  .home .selengkapnya {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .selengkapnya-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .line-2 {
    position: relative;
    width: 11.62px;
    height: 9.2px;
    margin-right: -0.62px;
  }
  
  .home .alur {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 298px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 21px 11.5px;
    position: absolute;
    top: 0;
    left: 340px;
    background-color: #d9d9d9;
  }
  
  .home .informasi {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 298px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 21px 11.5px;
    position: absolute;
    top: 0;
    left: 680px;
    background-color: #d9d9d9;
  }
  
  .home .title {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    position: absolute;
    top: 105px;
    left: 528px;
  }
  
  .home .alu-tsista-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Kenia-Regular", Helvetica;
    font-weight: 400;
    color: #fdfdfd;
    font-size: 94px;
    text-align: center;
    letter-spacing: 7.99px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .sistem-informasi {
    position: relative;
    width: fit-content;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #fdfdfd;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .call-to-action {
    display: inline-flex;
    align-items: flex-start;
    gap: 33px;
    padding: 35px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .rectangle-2 {
    width: 582px;
    height: 429px;
    position: relative;
    object-fit: cover;
  }
  
  .home .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 56px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .p {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 38px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .lorem-ipsum-dolor-2 {
    position: relative;
    width: 798px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .pesan-sekarang {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #163020;
    border-radius: 4px;
  }
  
  .home .pesan-sekarang-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #eeffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .layanan-kami {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 35px 230px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 38px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .frame-5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .ellipse-2 {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--abu-abu-1);
    border-radius: 6px;
  }
  
  .home .ellipse-3 {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--abu-abu-4);
    border-radius: 6px;
  }
  
  .home .layanan-2 {
    position: relative;
    width: 980px;
    height: 298px;
  }
  
  .home .frame-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 35px 50px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-8 {
    display: inline-flex;
    align-items: flex-start;
    gap: 19px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .rectangle-3 {
    width: 316px;
    height: 316px;
    position: relative;
    object-fit: cover;
  }
  
  .home .footer {
    position: relative;
    width: 1440px;
    height: 512px;
    background-color: var(--abu-abu-4);
  }
  
  .home .bottom-footer {
    position: absolute;
    width: 1298px;
    height: 64px;
    top: 380px;
    left: 72px;
  }
  
  .home .line-3 {
    position: absolute;
    width: 1296px;
    height: 1px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .home .copyright {
    position: absolute;
    top: 39px;
    left: 0;
    font-family: var(--regular-13px-font-family);
    font-weight: var(--regular-13px-font-weight);
    color: var(--gray-400);
    font-size: var(--regular-13px-font-size);
    letter-spacing: var(--regular-13px-letter-spacing);
    line-height: var(--regular-13px-line-height);
    white-space: nowrap;
    font-style: var(--regular-13px-font-style);
  }
  
  .home .social {
    position: absolute;
    width: 148px;
    height: 28px;
    top: 36px;
    left: 1148px;
  }
  
  .home .element {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    background-color: #eeffff;
    border-radius: 14px;
  }
  
  .home .logo-twitter {
    position: absolute;
    width: 11px;
    height: 9px;
    top: 10px;
    left: 9px;
  }
  
  .home .logo-fb-simple-wrapper {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 40px;
    background-color: #eeffff;
    border-radius: 14px;
  }
  
  .home .logo-fb-simple {
    position: absolute;
    width: 6px;
    height: 12px;
    top: 8px;
    left: 11px;
  }
  
  .home .logo-instagram-wrapper {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 80px;
    background-color: #eeffff;
    border-radius: 14px;
  }
  
  .home .logo-instagram {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 7px;
    left: 7px;
  }
  
  .home .logo-github-wrapper {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 120px;
    background-color: #eeffff;
    border-radius: 14px;
  }
  
  .home .logo-github {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 7px;
    left: 8px;
  }
  
  .home .frame-9 {
    display: inline-flex;
    align-items: flex-start;
    gap: 243px;
    position: absolute;
    top: 68px;
    left: 287px;
  }
  
  .home .widget {
    width: 100px;
    position: relative;
    height: 212px;
  }
  
  .home .about-features-works {
    position: absolute;
    top: 58px;
    left: 0;
    font-family: var(--regular-13px-font-family);
    font-weight: var(--regular-13px-font-weight);
    color: var(--gray-200);
    font-size: var(--regular-13px-font-size);
    letter-spacing: var(--regular-13px-letter-spacing);
    line-height: var(--regular-13px-line-height);
    font-style: var(--regular-13px-font-style);
  }
  
  .home .HELP-MENU {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--bold-16px-font-family);
    font-weight: var(--bold-16px-font-weight);
    color: var(--basewhite);
    font-size: var(--bold-16px-font-size);
    letter-spacing: var(--bold-16px-letter-spacing);
    line-height: var(--bold-16px-line-height);
    white-space: nowrap;
    font-style: var(--bold-16px-font-style);
  }
  
  .home .widget-2 {
    width: 139px;
    position: relative;
    height: 212px;
  }
  
  .home .widget-3 {
    width: 154px;
    margin-right: -4px;
    position: relative;
    height: 212px;
  }
  