a {
  text-decoration: none;
  color: #ffffff; /* Warna teks tautan tanpa garis bawah */
}
.home {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #eeffff;
  }
  .selengkapnya-2 a{
    text-decoration: none;
    color: #000000; /* Warna teks tautan tanpa garis bawah */
  }
  .home .logo {
    position: relative;
    width: 229.39px;
    height: 34.99px;
    margin-left: -11.19px;
  }
  .home .menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -11.19px;
  }
.home .menu-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home .bulat {
  background-color: #d9d9d9;
  border-radius: 2px;
  position: relative;
  width: 4px;
  height: 4px;
}

  .home .logo2 {
    position: relative;
    height: 68px;
  }
  
  .home .navbar {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 401px;
    padding: 20px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: #304d30;
  }
  .home .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 150px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 59px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .header {
    position: relative;
    width: 1440px;
    height: 622px;
    background-color: transparent;
  }
  
  .home .overlap-group {
    position: relative;
    width: 1440px;
    height: 622px;
  }
  
  .home .rectangle {
    position: absolute;
    width: 1440px;
    height: 500px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .home .layanan {
    position: absolute;
    width: 980px;
    height: 298px;
    top: 324px;
    left: 230px;
  }
  
  .home .peminjaman {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 298px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 21px 11.5px;
    border: #000000 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .home .img {
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .lorem-ipsum-dolor {
    position: relative;
    width: 277px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .line {
    position: relative;
    width: 255.37px;
    height: 5.33px;
    object-fit: cover;
  }
  
  .home .selengkapnya {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .selengkapnya-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .line-2 {
    position: relative;
    width: 11.62px;
    height: 9.2px;
    margin-right: -0.62px;
  }
  
  .home .alur {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 298px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 21px 11.5px;
    position: absolute;
    top: 0;
    left: 340px;
    background-color: #d9d9d9;
  }
  
  .home .informasi {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 298px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 21px 11.5px;
    position: absolute;
    top: 0;
    left: 680px;
    background-color: #d9d9d9;
  }
  
  .home .title {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 105px;
    left: 528px;
  }
  
  .home .alu-tsista-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 400;
    color: #fdfdfd;
    font-size: 94px;
    text-align: center;
    letter-spacing: 7.99px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .sistem-informasi {
    position: relative;
    width: fit-content;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #fdfdfd;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .call-to-action {
    display: inline-flex;
    align-items: flex-start;
    gap: 33px;
    padding: 35px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .rectangle-2 {
    width: 582px;
    height: 429px;
    position: relative;
    object-fit: cover;
  }
  
  .home .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .p {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 38px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .lorem-ipsum-dolor-2 {
    position: relative;
    width: 798px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .pesan-sekarang {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #163020;
    border-radius: 4px;
  }
  
  .home .pesan-sekarang-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #eeffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .layanan-kami {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 35px 230px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 38px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .frame-5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .ellipse-2 {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--abu-abu-1);
    border-radius: 6px;
  }
  
  .home .ellipse-3 {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--abu-abu-4);
    border-radius: 6px;
  }
  
  .home .layanan-2 {
    position: relative;
    width: 980px;
    height: 298px;
  }
  
  .home .frame-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 35px 50px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-8 {
    display: inline-flex;
    align-items: flex-start;
    gap: 19px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .rectangle-3 {
    width: 316px;
    height: 316px;
    position: relative;
    object-fit: cover;
  }
  
  .home .footer {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 425px;
    padding: 22px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: #313131;
  }
  
  .home .footer-item {
    position: relative;
    width: fit-content;
    margin-right: -0.5px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
