.peminjaman {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    position: relative;
    background-color: var(--background);
  }
  
  .peminjaman .navbar {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 98px;
    padding: 17px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: #304d30;
  }
  
  .peminjaman .div {
    display: inline-flex;
    align-items: center;
    gap: 405px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .peminjaman .logo {
    position: relative;
    width: 229.39px;
    height: 34.99px;
  }
  
  .peminjaman .navbar-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .peminjaman .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .peminjaman .elipse {
    position: relative;
    width: 4px;
    height: 4px;
    background-color: #d9d9d9;
    border-radius: 2px;
  }
  
  .peminjaman .form-peminjaman {
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 44px 98px;
    background-color: #ffffff;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  
  .peminjaman .peminjaman-alat {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32.9px;
  }
  
  .peminjaman .bg-form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 58px;
    padding: 37px 67px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: var(--background);
    border-radius: 57px;
    border: 1px dashed;
    border-color: var(--abu-abu-4);
  }
  
  .peminjaman .form {
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  
  .peminjaman .form-2 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 36px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .peminjaman .identitas-peminjam {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 537px;
    justify-content: center;
    gap: 31px;
    position: relative;
  }
  
  .peminjaman .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24.7px;
    white-space: nowrap;
  }
  
  .peminjaman .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .peminjaman .nama-lengkap {
    display: flex;
    flex-direction: column;
    width: 537px;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .peminjaman .p {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20.6px;
    white-space: nowrap;
  }
  
  .peminjaman .span {
    color: #000000;
  }
  
  .peminjaman .text-wrapper-3 {
    color: #ff0000;
  }
  
  .peminjaman .group {
    position: relative;
    width: 539px;
    height: 45px;
    margin-right: -2px;
  }
  
input {
    position: relative;
    width: 420px;
    height: 45px;
    padding: 0px 20px;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--abu-abu-4);
  }
  
  .peminjaman .text {
    left: 12px;
    position: absolute;
    height: 11px;
    top: 18px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20.6px;
    white-space: nowrap;
  }
  
  .peminjaman .div-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 537px;
    justify-content: center;
    gap: 31px;
    position: relative;
  }
  
  .peminjaman .text-2 {
    left: 10px;
    position: absolute;
    height: 11px;
    top: 18px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20.6px;
    white-space: nowrap;
  }
  
  .peminjaman .form-3 {
    align-items: flex-start;
    gap: 36px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  
  .peminjaman .overlap-group-wrapper {
    position: relative;
    width: 541px;
    height: 45px;
    margin-right: -4px;
  }
  
  .peminjaman .overlap-group-2 {
    position: relative;
    width: 539px;
    height: 47px;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--abu-abu-4);
  }
  
  .peminjaman .overlap {
    position: absolute;
    width: 122px;
    height: 29px;
    top: 9px;
    left: 401px;
    background-color: var(--background);
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--abu-abu-4);
  }
  
  .peminjaman .choose {
    left: 32px;
    position: absolute;
    height: 11px;
    top: 8px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20.6px;
    white-space: nowrap;
  }
  
  .peminjaman .choose-file {
    left: 17px;
    position: absolute;
    height: 11px;
    top: 8px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20.6px;
    white-space: nowrap;
  }
  
  .peminjaman .catatan-peminjaman {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20.6px;
    white-space: nowrap;
  }
  
  .peminjaman .submit-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--abu-abu-4);
    border-radius: 6px;
  }
  
  .peminjaman .submit {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: var(--background);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24.7px;
    white-space: nowrap;
  }
  
  .peminjaman .footer {
    position: relative;
    width: 1440px;
    height: 512px;
    background-color: var(--abu-abu-4);
  }
  
  .peminjaman .bottom-footer {
    position: absolute;
    width: 1298px;
    height: 64px;
    top: 380px;
    left: 72px;
  }
  
  .peminjaman .line {
    position: absolute;
    width: 1296px;
    height: 1px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .peminjaman .copyright {
    position: absolute;
    top: 39px;
    left: 0;
    font-family: var(--regular-13px-font-family);
    font-weight: var(--regular-13px-font-weight);
    color: var(--gray-400);
    font-size: var(--regular-13px-font-size);
    letter-spacing: var(--regular-13px-letter-spacing);
    line-height: var(--regular-13px-line-height);
    white-space: nowrap;
    font-style: var(--regular-13px-font-style);
  }
  
  .peminjaman .social {
    position: absolute;
    width: 148px;
    height: 28px;
    top: 36px;
    left: 1148px;
  }
  
  .peminjaman .element {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    background-color: #eeffff;
    border-radius: 14px;
  }
  
  .peminjaman .logo-twitter {
    position: absolute;
    width: 11px;
    height: 9px;
    top: 10px;
    left: 9px;
  }
  
  .peminjaman .logo-fb-simple-wrapper {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 40px;
    background-color: #eeffff;
    border-radius: 14px;
  }
  
  .peminjaman .logo-fb-simple {
    position: absolute;
    width: 6px;
    height: 12px;
    top: 8px;
    left: 11px;
  }
  
  .peminjaman .logo-instagram-wrapper {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 80px;
    background-color: #eeffff;
    border-radius: 14px;
  }
  
  .peminjaman .logo-instagram {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 7px;
    left: 7px;
  }
  
  .peminjaman .logo-github-wrapper {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 120px;
    background-color: #eeffff;
    border-radius: 14px;
  }
  
  .peminjaman .logo-github {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 7px;
    left: 8px;
  }
  
  .peminjaman .frame-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 243px;
    position: absolute;
    top: 68px;
    left: 287px;
  }
  
  .peminjaman .widget {
    width: 100px;
    position: relative;
    height: 212px;
  }
  
  .peminjaman .about-features-works {
    position: absolute;
    top: 58px;
    left: 0;
    font-family: var(--regular-13px-font-family);
    font-weight: var(--regular-13px-font-weight);
    color: var(--gray-200);
    font-size: var(--regular-13px-font-size);
    letter-spacing: var(--regular-13px-letter-spacing);
    line-height: var(--regular-13px-line-height);
    font-style: var(--regular-13px-font-style);
  }
  
  .peminjaman .HELP-MENU {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--bold-16px-font-family);
    font-weight: var(--bold-16px-font-weight);
    color: var(--basewhite);
    font-size: var(--bold-16px-font-size);
    letter-spacing: var(--bold-16px-letter-spacing);
    line-height: var(--bold-16px-line-height);
    white-space: nowrap;
    font-style: var(--bold-16px-font-style);
  }
  
  .peminjaman .widget-2 {
    width: 139px;
    position: relative;
    height: 212px;
  }
  
  .peminjaman .widget-3 {
    width: 154px;
    margin-right: -4px;
    position: relative;
    height: 212px;
  }
  